<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">
    <!-- ...existing code... -->
    <application>
        <!-- ...existing code... -->
        <activity android:name=".TransactionDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- ...existing code... -->
    </application>
</manifest>